* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
section {
	height: 100vh;
	display: grid;
	grid-template-areas: 'nav main';
	grid-template-columns: 20% 70%;
	grid-gap: 5px;
	align-items: center;
	justify-content: center;
	text-align: center;
	scroll-snap-align: start;
}
nav {
	grid-area: nav;
	position: fixed;
	display: flex;
	height: 100vh;
	width: 20vw;
	flex-direction: column;
	justify-content: center;
	background-color: #ccc;
	opacity: .5;
}
nav a {
	align-items: center;
	text-decoration: none;
}
main {
	grid-area: main;
}

#back {
	position: fixed;
	bottom: 5;
	right: 5;
	width: 30px;
	border: 3px solid black;
}
.watermark {
	color: #ccc;
	font-size: 15rem;
	opacity: .2;
	z-index: -1;
}
