html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}
section {
	height: 100vh;
	background-color: aqua;
	scroll-snap-align: start;
}

#back {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 30px;
	border: 3px solid black;
}
