html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}
section {
	height: 100vh;
	display: grid;
	grid-template-areas: 'nav main';
	grid-template-columns: 20% 70%;
	grid-gap: 5px;
	background-color: aqua;
	scroll-snap-align: start;
}
nav {
	grid-area: nav;
}
main {
	grid-area: main;
}

#back {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 30px;
	border: 3px solid black;
}
